body {
  background-color: #f1faee;
  font-family: "Cambria Math";
  color: rgb(201, 253, 201);
  background-image: url('background_pic.jpg');
  background-size: cover;
  box-sizing: border-box;
  padding: 0 1em;
}
p,section{
    font-size: 20px;
}
.clip_path{
    display: block;
    position: relative;
    left:21%; top:-100px;
    height:9.13vmax;
    width: 10%;
    background: rgb(58, 131, 155);
    box-sizing: border-box;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

img#me {
  height: 8.78vmax;
  width: 120px;
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  position: absolute;
  top:2px;left: 2px;right: 2px;bottom: 2px;
  display: block;
  width: 97%;
}

#Calculus {
  display: block; 
  width: 50%;
  height: 15.625rem;
  border: 3px solid white;
  border-radius: 15%;
  transform: translateX(63%);
}

#udemy {
  color: rgb(100, 126, 48);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p.udemy::first-letter {
  font-size: 26px;
}

strong#Calc {
  color: rgba(80, 80, 209, 0.8);
}

h1 {
  font-size: 2.5rem;
  transform: translate(67%, 25%);
  text-decoration: underline;
  display: block;
  width: 50%;
}

#box, .put_shadow{
  border:2px solid goldenrod;
  border-radius: 20px;
  box-shadow: 0 0 5px 5px rgb(136, 94, 15);
}
#box{
  max-width: 60 rem;
  margin: 0 auto;
  padding: 0 1rem;
}

